.EncryptPage {
	background-color: var(--background-color-100);

	height: 100%;

	padding: var(--padding);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	flex-grow: 1;
}

.encrypt-middle {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	flex-grow: 2;

	gap: 1rem;
}

.encrypt-page-container {
	min-height: 80%;
	min-width: 40%;

	padding: var(--padding);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	flex-grow: 1;

	gap: 1rem;
}
